{% extends "app/base.html" %}
{% block content %}
<div class="content-section">
    {% if user.is_authenticated %}
        <h2>{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        <a class="btn btn-primary" href="/manage">Manage Accounts</a>
        {% if total_valuation is not None %}
            <h3>{{ total_valuation }}</h3>
        {% endif %}
        {% if df_investments_html is not None %}
            <div class="container mt-2">
                <script>$(document).ready(function () {
                        $('#investments-table').DataTable({
                            scrollY: '400px',
                            sScrollX: '100%',
                            scrollCollapse: true,
                            paging: false,
                        });
                    });
                </script>
                {{ df_investments_html|safe }}
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}