{% extends "app/base.html" %}
{% block content %}
<div class="content-section mt-4">
{% if user.is_authenticated %}

<div class="row">
    <h3>{{ user.username }}</h3>
    <p class="text-secondary">{{ user.email }}</p>
{% if total_valuation is not None %}
    <p>Total valuation: {{ total_valuation }}€</p>
{% endif %}
</div>
{% if df_investments_html is not None %}
<div class="row">
    <div class="container">
        <script>$(document).ready(function () {
                $('#investments-table').DataTable({
                    scrollY: '400px',
                    sScrollX: '100%',
                    scrollCollapse: true,
                    paging: false,
                });
            });
        </script>
        {{ df_investments_html|safe }}
    </div>
</div>
{% endif %}

{% endif %}
</div>
{% endblock content %}